<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.comp.orbital.eventmanagement" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.LoginActivity" />
        </activity>
        <activity
            android:name=".GroupsActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.MainActivity" />
        </activity>
        <activity
            android:name=".InvitesActivity"
            android:label="@string/title_activity_invites"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.MainActivity" />
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.MainActivity" />
        </activity>
        <activity
            android:name=".BillsActivity"
            android:label="@string/title_activity_bills"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.MainActivity" />
        </activity>
        <activity
            android:name=".DebtsActivity"
            android:label="@string/title_activity_debts"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.MainActivity" />
        </activity>
        <activity
            android:name=".ReviewBillActivity"
            android:label="@string/title_activity_review_bill"
            android:parentActivityName=".BillsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.BillsActivity" />
        </activity>
        <activity
            android:name=".CreateBillActivity"
            android:label="@string/title_activity_create_bill"
            android:parentActivityName=".BillsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.BillsActivity" />
        </activity>
        <activity
            android:name=".AddPurchaseActivity"
            android:label="@string/title_activity_add_purchase"
            android:parentActivityName=".CreateBillActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.CreateBillActivity" />
        </activity>
        <activity
            android:name=".AddUsersActivity"
            android:label="@string/title_activity_add_users"
            android:parentActivityName=".AddPurchaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.nus.comp.orbital.eventmanagement.AddPurchaseActivity" />
        </activity>
    </application>

</manifest>
